*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* body index */
.body1{
    background-size: cover;
    background-image: url(gambar/aesthetic-anime-19.jpg);
    background-position: initial;
    background-repeat: no-repeat;
}
/* nav and list */
nav{
    height: 60px;
    margin-top: 0px;
}

nav > ul{
    display: flex;
    justify-content: flex-end;

}

nav > ul > li{
    list-style-type: none;
    margin-right: 20px;
    font-weight: bold;
}

a{
    position: relative;
    bottom: 40px;
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px;
}

a.link-1:link, a:visited{
    color: rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
}

a.link-1:hover{
    background: linear-gradient(45deg,#ACB1D6,#735DA5);
}

a.link-1:active{
    background-color: #C4DFDF;
}

nav > img{
    border-radius: 50px 50px 50px 50px;
}


/* container text content */
.container{
    text-align: center;
    position: relative;
    top: 200px;
    
}

.container > h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 2px 2px #000000;
    animation: mymove 3s;
}

.container > h4{
    color: white;
    font-family: monospace;
    font-size: 18px;
    text-shadow: 1px 1px #000000;
    animation: mymove 5s;
}

/* body about */
.body2{
    background-image: url(gambar/anime-girl-dream-happy-girl-moon-crescent-moon-girly-3840x2160-8360.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* header text */
.abt1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;
}

/* paragraph content */
p{
    color: black;
    width:670px;
    height: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    position: relative;
    right: 110px;
    top: 70px;
    float: right;
}

/* list content */
.list1{
    display: flex;
    justify-content: space-around;
    height: 280px;
    position: relative;
    right: 60px;
    top: 150px;
    float: none;
}

.list1 > ul > li{
    color: black;
    font-weight: bold;
    position: relative;
    top: 30px;
    margin: 10px;
    padding: 8px;
    float: none;
}

/* profile picture position */
.muka1{
    border-radius: 50px;
    float: left;
}

/* body services */
.body3{
    height: 100%;
    width: 100%;
    background: linear-gradient(5deg,#5FBDFF,#C5FFF8,#86B6F6);
    background-size: 300% 300%;
}

/* content services */
.box1 {
    width: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 150px;
    bottom: 0px;
    text-align: center;
}

.box1 > a > div > p{
    width: 350px;
    height: 100px;
    text-align: justify;
    color: black;
    position: relative;
    font-size: 14px;
    left: 3px;
    top: 40px;
}

a.kotak1:hover {
    width: auto;
    border: 3px solid;
    border-image: linear-gradient(lightgreen,green) 1;
    background-color: lightgreen;
}

.kotak1{
    border: 3px solid;
    border-image: linear-gradient(#FFC7C7,#8785A2) 1;
    box-shadow: 1px 2px 4px 3px rgb(0, 0, 0);
}

.box2 {
    width: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 150px;
    top: 20px;
    text-align: center;
}

.box2 > a > div > p{
    width: 350px;
    height: 100px;
    text-align: justify;
    color: black;
    position: relative;
    font-size: 14px;
    left: 3px;
    top: 40px;
}

/* body portfolio */
.body4{
    height: 100%;
    width: 100%;
    background: linear-gradient(5deg,#B4D4FF,#EEF5FF,#86B6F6);
    background-size: 300% 300%;
}

/* content portfolio */
.port1{
    font-family: 'courier new';
    font-size:  40px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

/* #portfolio{
    height: 0px;
    position: absolute;
    left: 105px; 
    bottom: 480px;
    margin: 0px;
} */

.box3 {
    width: 100px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 130px;
    top: 80px;
    bottom: 0px;
    text-align: center;
}

.box3 > a > div > p{
    width: 350px;
    height: 100px;
    text-align: justify;
    color: black;
    position: relative;
    font-size: 14px;
    left: 3px;
    top: 40px;
}

.kotak2{
    border: 4px solid ;
    border-image: linear-gradient(#8785A2,#B4D4FF) 1;
}  

a.kotak2:hover {
    border: 4px solid;
    box-shadow: 1px 4px 4px 2px #6964ccbb;
    border-image: linear-gradient(90deg,#04364A,#365486) 1;
    background-color: rgba(255, 255, 255, 0.637);
}

/* body contact */
.body5{
    background-color: #E3FDFD;
    background-image: url(gambar/1323578.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* content contact  */
.textborder{
    width: 530px;
    position: relative;
    right: 130px;
    top: 25px;
    float: right;
}

.contact1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.test1{
    position: relative;
    bottom: 40px;
    float: left;
}

/* footer */
footer{
    height: 60px;
    width: 100%;
    background: linear-gradient(5deg,#B4D4FF,#EEF5FF,#86B6F6);
    text-align: center;
    position: relative;
    margin: 0%;
    top: 465px;
    float: center;
}

/* icon footer */
.icon1{
    height: 0px;
    font-size: 34px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 35px;
}

.fa-facebook:hover,.fa-instagram:hover,.fa-x-twitter:hover,.fa-youtube:hover, .fa-twitch:hover {
    color: #0dff00;
}

.fa-facebook:active,.fa-instagram:active,.fa-x-twitter:active,.fa-youtube:active,.fa-twitch:active{
    color: rgb(255, 47, 47);
}

/* animation text opening */
@keyframes mymove {
    from {color: #000000;}
    to {color: #FFFFFF;}
  }
